openapi: 3.2.0
info:
  title: Bnsf Requests API
  version: '1.0'
  contact:
    name: BNSF Customer API
    email: CustomerAPI@bnsf.com
  termsOfService: http://www.bnsf.com/site-terms-of-use.html
  description: 'Operations tagged Requests across 7 of this provider''s published API definitions: bnsf-automotive-hub-operations-openapi.json, bnsf-diagnostics-openapi.json, bnsf-intermodal-hub-operations-openapi.json, bnsf-prices-openapi.json, bnsf-reference-files-openapi.json, bnsf-schedules-openapi.json, bnsf-waybill-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.bnsf.com:6443
tags:
- name: Requests
paths:
  /v1/pregate/automotive/haulaway-entry:
    post:
      tags:
      - Requests
      summary: Haul Away Gate Entry Request - Allow truckers and/or dispatchers to submit load…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/haulawayGateEntryRequest'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/haulawayGateEntryResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: postV1PregateAutomotiveHaulawayEntry
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/vehicles/addHold:
    post:
      tags:
      - Requests
      summary: ​​AddHold Request - Haulway or OEM will have the capability to add hold on VIN…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automotiveVehicleHoldAdd'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  vinHoldResponseMessageText:
                    type: string
                    title: VIN Hold Response Message Text
                    example: ACCEPTED HOLD REQUEST
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: postV1VehiclesAddHold
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/vehicles/releaseHold:
    post:
      tags:
      - Requests
      summary: ​​Release Hold Request - This enables Haulway and OEM to release existing Hold…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/automotiveVehicleHoldRelease'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  vinHoldResponseMessageText:
                    type: string
                    title: VIN Hold Response Message Text
                    example: ACCEPTED HOLD REQUEST
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: postV1VehiclesReleaseHold
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/gate-pass/ramp/{aarRampCode}/vehicle/{vin}:
    get:
      tags:
      - Requests
      summary: Haulway Carries - Retrieves information of a entry request that is already…
      parameters:
      - $ref: '#/components/parameters/AAR_Ramp_Code'
      - $ref: '#/components/parameters/Vin'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateEntryRequestList'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1GatePassRampByAarRampCodeVehicleByVin
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/gate-pass/ramp/{aarRampCode}/gate-pass/{gatePassCode}:
    get:
      tags:
      - Requests
      summary: Haulway Carries - Retrieves information of a entry request that is already…
      parameters:
      - $ref: '#/components/parameters/AAR_Ramp_Code'
      - $ref: '#/components/parameters/Gate_Pass_Code'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateEntryRequestList'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1GatePassRampByAarRampCodeGatePassByGatePassCode
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/exit-request:
    post:
      tags:
      - Requests
      summary: Haul Away Gate Exit Request – Allow truckers and/or dispatchers to submit load…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/gateExitRequestFromHaulaway'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GateExitRequestResponseFromBNSF'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: postV1ExitRequest
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/pre-outgate:
    post:
      tags:
      - Requests
      summary: Haul‑Away Gate Pre-Exit Request – Allow dispatchers to submit load details…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/preOutageRequestFromHaulway'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreOutageResponseFromBNSF'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: postV1PreOutgate
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /healthcheck:
    get:
      tags:
      - Requests
      summary: Check the status of the BNSF Customer API
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: string
                example: <status>ok</status>
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getHealthcheck
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/analytic-event:
    post:
      tags:
      - Requests
      summary: Submit event data for analytical purposes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Generic_User_Provided_Details'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json: {}
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1AnalyticEvent
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/dray-booking/open:
    get:
      tags:
      - Requests
      summary: Dray open booking details
      parameters:
      - name: drayageBookingNumber
        in: query
        description: drayageBookingNumber
        required: true
        schema:
          type: string
          title: Schema
          example: 'SH0987654 '
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrayBookingResponse'
        '400':
          description: '**Bad Request**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Invalid Booking Number
                  httpResponseCode:
                    type: string
                    example: '400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: '**Not Found**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Not Found
                  httpResponseCode:
                    type: string
                    example: '404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: getV1DrayBookingOpen
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  '/v1/dray-plan/list-units ':
    post:
      tags:
      - Requests
      summary: Dray Plan List Units- Returns a list of dray plans for a given supplier633 and…
      parameters:
      - name: supplier633
        in: query
        required: true
        schema:
          type: string
          example: APARTNERS633
      requestBody:
        $ref: '#/components/requestBodies/drayPlanListUnits'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrayPlan'
        '400':
          description: '**Bad Request**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Invalid Booking Number
                  httpResponseCode:
                    type: string
                    example: '400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: '**Not Found**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Not Found
                  httpResponseCode:
                    type: string
                    example: '404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: 'postV1DrayPlanListUnits '
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/dray-plan/initial/{equipmentInitial}/number/{equipmentNumber}:
    delete:
      tags:
      - Requests
      summary: Dray Plan- Remove dray plans
      parameters:
      - name: equipmentInitial
        in: path
        required: true
        schema:
          type: string
        example: BNSF
      - name: equipmentNumber
        in: path
        required: true
        schema:
          type: string
        example: '12345'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
        '400':
          description: '**Bad Request**


            The request could not be understood by the server due to incorrect syntax. Do not repeat the request without modifications.

            '
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: '**Not Found**


            The server cannot find the requested resource (URI). That is, the address of the endpoint in your request does not exist. Please consult the documentation.

            '
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: deleteV1DrayPlanInitialByEquipmentInitialNumberByEquipmentNumber
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/dray-plan/units:
    get:
      tags:
      - Requests
      summary: Dray Plan- Capture an intermodal container's dwell profile from dray carriers…
      parameters:
      - name: supplier633
        in: query
        description: Supplier 633
        required: true
        schema:
          type: string
          title: Schema
          example: APARTNERS633
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrayPlan'
        '400':
          description: '**Bad Request**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Invalid Booking Number
                  httpResponseCode:
                    type: string
                    example: '400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: '**Not Found**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Not Found
                  httpResponseCode:
                    type: string
                    example: '404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: getV1DrayPlanUnits
      x-operation-id-source: derived
    post:
      tags:
      - Requests
      summary: Dray Plan- Create dray plans
      parameters:
      - name: supplier633
        in: query
        required: true
        schema:
          type: string
          example: APARTNERS633
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DrayPlan'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DrayPlan'
        '400':
          description: '**Bad Request**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Invalid Booking Number
                  httpResponseCode:
                    type: string
                    example: '400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: '**Not Found**'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                      example: Not Found
                  httpResponseCode:
                    type: string
                    example: '404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1DrayPlanUnits
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v2/dvir:
    post:
      tags:
      - Requests
      summary: Driver Vehicle Inspection Report - Submit chassis defects (Y/N) within BNSF…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DvirInputBean'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                title: Schema
                properties:
                  httpErrors:
                    type: array
                    title: httpErrors
                    description: Response error of the API
                    items:
                      type: string
                      example: Error
                  httpResponseCode:
                    type: number
                    format: float
                    title: httpResponseCode
                    description: Response status of the API
                    example: 0
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV2Dvir
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/flips:
    post:
      tags:
      - Requests
      summary: Flips - Returns details on authorized flips for given units
      requestBody:
        $ref: '#/components/requestBodies/flipInputList'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/equipmentFlip'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1Flips
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/hub:
    get:
      tags:
      - Requests
      summary: Hub - Returns a list of valid lot locations at a given hub facility
      parameters:
      - name: station333
        in: query
        description: The location of the most recently reported event
        required: true
        schema:
          type: string
          example: LOSANGELE
        example: DALLAS
      - name: stationStateCode
        in: query
        description: The location state of the most recently reported event
        required: true
        schema:
          type: string
          example: CA
        example: TX
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Intermodal_Station'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1Hub
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v2/ingate:
    post:
      tags:
      - Requests
      summary: Ingate - Returns way-billed units that can be registered prior to arrival at a…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gate_Move_Request'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngateResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV2Ingate
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/ingate-management/current:
    get:
      tags:
      - Requests
      summary: Current Gate Target - Returns all ingate targets related to the authorized list…
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json1:
              schema:
                type: object
                properties:
                  ContainerIngateTargets:
                    type: array
                    items:
                      type: object
                      properties:
                        containerTargetCountEffectiveDate:
                          type: string
                          description: Date on which the given allocation of containers is being considered effective for the given shipper.
                          example: 2024/08/05
                        containerTargetCountExpirationDate:
                          type: string
                          description: Date on which the given allocation of containers is being considered no more effective for the given shipper.
                          example: 2024/08/05
                        containerIngateStation333:
                          type: string
                          description: Station at which containers are ingated.
                          example: CICERO
                        containerIngateStationStateCode:
                          type: string
                          description: State code in which the station at which containers are ingated is located.
                          example: IL
                        ingateOutgateMaxCode:
                          type: string
                          description: Code indicating the side of the gate, Ingate or Outgate, at which given Ingate Outgate Maximum Allowed Container Count limit applies.
                          example: IG
                        ingateOutgateMaxDate:
                          type: string
                          description: Date on which the given Ingate Outgate Code is set.
                          example: '2024-08-05'
                        containerIngateOutgateCountCode:
                          type: string
                          description: 'Code defining whether the given container allocation count is applicable to a customer or pool of chassis.\nValid Values Include: P (Pool of Chassis), C (Customer).'
                          example: P
                        customer633Shipper:
                          type: string
                          description: Name of a Customer, acting as the Shipper, which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.
                          example: JBHUNTRANSPO
                        ingateOutgateTargetAllowedContainerCount:
                          type: integer
                          description: Count of maximum container allowed to either ingate or outgate at the given station for the given effective period and shipper.
                          example: 270
                        ingateOutgateCount:
                          type: integer
                          description: Count of actual containers either ingated or outgated at the given station for a day.
                          example: 181
                        lastMaintenanceTimestamp:
                          type: string
                          description: The Date, Time** with fractional seconds, and Time Zone**** when a user, system, or DBMS process initially persists (saves) any data or persists any modification to data (including a logical delete).
                          example: 2024-07-27T22:03:16.705+0000
                        lastMaintenanceId:
                          type: string
                          description: The ID of the user, system, or DBMS process that triggered the initial persistence (saving) of any data or the persistence of any modification to data (including a logical delete).
                          example: IMDPSCO2
                        containerDestinationStation333:
                          type: string
                          description: Destination Station of outgating containers.
                          example: ANYWHERE
                        containerDestinationStationStateCode:
                          type: string
                          description: State code in which the destination Station of outgating containers is located.
                          example: US
                        controlFreightQuoteNumber:
                          type: string
                          description: Applicable freight rate quote number. TSS waybill supports only up to 12 characters for storing quote.
                          example: $1000.00
                        internationalDomesticCode:
                          type: string
                          description: 'Code defining the originating location of the containers.\nValid Values Include: I (International), D (Domestic), B (Both).'
                          example: D
                        truckerSCAC:
                          type: string
                          description: Company abbreviation of the trucker company.
                          example: FXFW
                        reportFilterCode:
                          type: string
                          description: Repeat filter code. Currently when a filter is added it is good for one day only. This indicator will be used to determine if the user wants to continue to repeat the filter. Valid values are Y or N.
                          example: Y
                        containerCalculatedLengthFeet:
                          type: string
                          description: The calculated length, in feet of Container.
                          example: '28'
                        ingateHazardousMaterialProfileCode:
                          type: string
                          description: 'Indicates whether given container has been identified as prohibiting the ingate of hazardous material or not.\nValid Values Are: Y (Yes), N (No).'
                          example: Y
                        ingateErrorMessageText:
                          type: string
                          description: Manually entered message describing the errors encountered while ingating the containers.
                          example: Error message
                        intermodalPlanCode:
                          type: string
                          description: Code indicating the intermodal plan service supplied. (20=rail owned door to door service, 40=steamship stack operator owned, door to door domestic shipment, etc.) Also known as the intermodal service code.
                          example: '20'
                        equipmentLoadEmptyCode:
                          type: string
                          description: 'Code that is used to convey whether a piece of rail conveyance equipment (i.e., a railcar) is being shipped while laden with cargo or while empty, as is the case if it does not pick up another load at its destination.\nValid values are: L (Loaded), E (Empty), RE (Revenue Empty). For intermodal equipment a ''C'' is for chassis and will not be counted as loaded or empty.'
                          example: E
                        countCumulativeTypeCode:
                          type: string
                          description: 'Code which identifies the type of accumulation associated with the count. Valid values include: D (this applies to a daily count), C (this applies to a cumulative count).'
                          example: D
                        createUserId:
                          type: string
                          description: The BNSF ID of the user or program that created the row. (Also known as Create User ID.)
                          example: USERID
                        createDatetime:
                          type: string
                          description: The create timestamp. (Also known as Create Date/Time.)
                          example: 2022-05-14T10:47:32.667+0000
                        serviceLevelCode:
                          type: string
                          description: 'One-character code used to distinguish differently priced services BNSF provides for customers relative to volumes and other considerations. Also gives Marketing the ability to prioritize shippers within a service level based on seasonal requirements.\nValid Values Include: R (REGULAR), S (STACK), G (GUARANTEED), W (WEEKLY), Y (EMPTY), V (STANDBY), etc..'
                          example: P
                        tofcCofcCode:
                          type: string
                          description: 'A code indicating TOFC(trailer on flat car) or COFC(container on flat car) movement. Also used to determine stacked/non-stacked flat cars. Values are: T (TOFC), C (COFC).'
                          example: TOFC
                        businessSubUnitCode:
                          type: string
                          description: Code defining the specific group within each profit center targeted at a specific customer group.
                          example: Group
                        businessForecastCode:
                          type: string
                          description: Code that indicates within which Business Forecast a shipment exists.
                          example: Business Forecast
                        intermodalHoldingCode3:
                          type: string
                          description: Code indicating intermodal handling. It is also used as the unit loading priority.   H=Hot, D=Double stack. Loading priority values go from 1 (highest priority) to 9 (lowest priority).
                          example: H
                        ingateCustomerExceptionCommentText:
                          type: string
                          description: A comment, entered by a user on why an ingate rule had a customer exception.
                          example: Comment
                        ingateLocationExceptionCommentText:
                          type: string
                          description: A comment, entered by a user on why an ingate rule had a location exception.
                          example: Comment
                        beneficialOwnerFullName:
                          type: string
                          description: Full name of the legal entity considered to be the owner of the goods in a shipment, the Beneficial Owner is the party on whose behalf the shipment is being handled by a third party.
                          example: John Doe
                        basisStation:
                          type: string
                          description: The difference between a cash grain price and a futures price. Cash price at a specific 333 location minus specific futures price = BASIS
                          example: '0'
                        dayOfTheWeekCode:
                          type: string
                          description: Number identifying the day of the week and used in a calculation. (1=Sunday, 2=Monday, 3=Tuesday, 4=Wednesday, 5=Thursday, 6=Friday, 7=Saturday)
                          example: '7'
                        timezone:
                          type: string
                          description: Code which identifies the US (United States) Time Zone a Station is located within.
                          example: American/Chicago
        '400':
          description: '**Bad Request**


            The request could not be understood by the server due to incorrect syntax. Do not repeat the request without modifications.'
        '403':
          description: "Unauthorized request. Here are the most common causes:\n    \n* You are getting 403 Access Denied.\n\n   * It takes a few days for us to get you set up after you register. When set up is complete, you will receive an email letting you know. If you have not received the email, please wait up to five business days. Let us know via API Support if you still have not received the email after five business days.\n   * You can also get this error if your certificate is not configured properly on your side. Please review the Mutual Authentication in the Getting Started section of our documentation.\n\n\n* You are getting 403 \"message\": \"Insufficient privileges\" when accessing a restricted service for which you do not have permission. You can use our Registration form to request access. Be sure to explain the situation in the \"Please explain how you intend to use the API\" field.\n"
        '404':
          description: '**Not Found**


            The server cannot find the requested resource (URI). That is, the address of the endpoint in your request does not exist. Please consult the documentation.'
        '405':
          description: '**Method Not Allowed**


            The request HTTP method is known by the server but has been disabled and cannot be used for that resource. For example, you may be using GET when POST is required. Please consult the documentation.'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return a **429 Too Many Requests** error response. Upon receiving such exceptions, you can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits. "
        '500':
          description: '**Internal Server Error**


            The server encountered an unexpected condition which prevented it from fulfilling the request. This is always a problem on the server side. Our internal support systems will be made aware.'
        '504':
          description: '**Gateway Timeout**


            The server is acting as a gateway and cannot get a response in time for a request. Wait about one minute then try again.'
      deprecated: false
      operationId: getV1IngateManagementCurrent
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v2/ingate/validate:
    post:
      tags:
      - Requests
      summary: Validate Ingate - Returns required/missing information needed for ingate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gate_Move_Request'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpErrors:
                    type: array
                    items:
                      type: string
                  httpResponseCode:
                    type: number
                    format: float
                    description: Response Status of the API
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV2IngateValidate
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/j1-receipts:
    post:
      tags:
      - Requests
      summary: J1 Receipts - Returns a list of J1 Gate Receipts
      description: The j1-receipts request accepts up to 100 units.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              title: Schema
              required:
              - unitList
              - endDate
              - startDate
              properties:
                unitList:
                  $ref: '#/components/schemas/unit_list'
                endDate:
                  type: string
                  example: '2020-07-18'
                startDate:
                  type: string
                  example: '2020-07-18'
                j1ReceiptData:
                  type: boolean
                  example: false
                j1ReceiptPdf:
                  type: boolean
                  example: false
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                title: Schema
                properties:
                  elements:
                    type: array
                    title: Elements
                    items:
                      $ref: '#/components/schemas/j1_receipt_response'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1J1Receipts
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v2/outgate:
    post:
      tags:
      - Requests
      summary: Outgate - Returns way-billed units that can be registered prior to exiting at a…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gate_Move_Request'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgateResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV2Outgate
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v2/outgate/validate:
    post:
      tags:
      - Requests
      summary: Validate Outgate - Returns required/missing information needed for outgate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gate_Move_Request'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutgateResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV2OutgateValidate
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/pickup-number:
    post:
      tags:
      - Requests
      summary: Pickup Number - Validate and/or retrieve pickup numbers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Pickup_Number_Request'
      responses:
        '200':
          description: '** No Content **


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pickup_Number'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 5 API Request Per Second, Per Partner, Per Service\n* 100 API Requests Per Minute, Per Partner, Per Service\n* 500 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1PickupNumber
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/pregate/in:
    post:
      tags:
      - Requests
      summary: Pre-Ingate - Advanced creation of an ingate ahead of arriving at a hub facility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intermodal_Pregate'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  railpassId:
                    type: string
                    description: RailPASS ID
                    example: '12345'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1PregateIn
      x-operation-id-source: derived
    delete:
      tags:
      - Requests
      summary: Cancel a pre-ingate
      parameters:
      - name: equipmentInitial
        in: query
        required: true
        schema:
          type: string
          example: BNSF
      - name: equipmentNumber
        in: query
        required: true
        schema:
          type: string
          example: '12345'
      - name: truckerDriverLicenseNumber
        in: query
        required: true
        schema:
          type: string
          example: '123456789'
      - name: truckerDriverLicenseStateCode
        in: query
        required: true
        schema:
          type: string
          example: TX
      responses:
        '204':
          description: '** No Content **


            The request has succeeded.'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: deleteV1PregateIn
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/pregate/out:
    post:
      tags:
      - Requests
      summary: Pre-Outgate - Advanced creation of an outgate ahead of exiting a hub facility
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Intermodal_Pregate'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                properties:
                  railpassId:
                    type: string
                    description: RailPASS ID
                    example: '12345'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1PregateOut
      x-operation-id-source: derived
    delete:
      tags:
      - Requests
      summary: Cancel a pre-outgate
      parameters:
      - name: equipmentInitial
        in: query
        required: true
        schema:
          type: string
          example: BNSF
      - name: equipmentNumber
        in: query
        required: true
        schema:
          type: string
          example: '12345'
      - name: truckerDriverLicenseNumber
        in: query
        required: true
        schema:
          type: string
          example: '123456789'
      - name: truckerDriverLicenseStateCode
        in: query
        required: true
        schema:
          type: string
          example: TX
      responses:
        '204':
          description: '** No Content **


            The request has succeeded.'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: deleteV1PregateOut
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v2/street-en-route:
    post:
      tags:
      - Requests
      summary: Street En-route - Report pre-arrival to hub and returns rail waybill ingate…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Gate_Move_Request'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreetEnRouteResponse'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV2StreetEnRoute
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v3/unit-details:
    post:
      tags:
      - Requests
      summary: Unit Details - Returns hub information (e.g., Lot Location) for units at a BNSF…
      description: 'The unit-details request accepts up to 500 units.


        Changelog


        June 1, 2021: Added response attributes equipmentLotRowSpotTierLocationName and equipmentLotRowSpotTierStatusName.


        April 26, 2021: Removed pickup number. See new Pickup Number service; updated attribute names to conform to BNSF naming standards.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/intermodalUnits'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntermodalUnits'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV3UnitDetails
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v3/unit-details/domestic-empties:
    get:
      tags:
      - Requests
      summary: Domestic Empties - Returns a list of empty units ready for pickup at a BNSF…
      parameters:
      - name: station333
        in: query
        description: The location of the most recently reported event
        required: true
        schema:
          type: string
          example: LOSANGELE
        example: DALLAS
      - name: stationStateCode
        in: query
        description: The location state of the most recently reported event
        required: true
        schema:
          type: string
          example: CA
        example: TX
      - name: equipmentInitial
        in: query
        description: The initials used in the equipment identification for the shipment
        required: true
        schema:
          type: string
          example: BNSF
        example: BNSF
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntermodalUnits'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: getV3UnitDetailsDomesticEmpties
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/update-parking:
    post:
      tags:
      - Requests
      summary: Update Parking - Update a unit's parking information at a Hub facility (i.e.
      requestBody:
        $ref: '#/components/requestBodies/updateParkingInput'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1UpdateParking
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/carload-rates:
    post:
      tags:
      - Requests
      summary: Carload Rates - Returns a list of prices within a BNSF Carload Price Authority
      requestBody:
        $ref: '#/components/requestBodies/Post_Rates'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prices_response'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1CarloadRates
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/intermodal-rates:
    post:
      tags:
      - Requests
      summary: Intermodal Rates - Returns a list of prices within a BNSF Intermodal Price…
      requestBody:
        $ref: '#/components/requestBodies/Post_Rates'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/prices_response'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1IntermodalRates
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/invoices:
    post:
      tags:
      - Requests
      summary: ​Retrieve Open Invoices - Returns details of customer's open invoices for given…
      requestBody:
        $ref: '#/components/requestBodies/Post_Invoice'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.


            **Note:** The response data is paginated, with 20 invoices displayed per page. You can find pagination details at the bottom of the response.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/customerInvoice'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: postV1Invoices
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/rail-miles:
    post:
      tags:
      - Requests
      summary: Rail Mile Inquiry API – Mileage – Returns mileage for BNSF local and/or rule 11…
      requestBody:
        $ref: '#/components/requestBodies/Post_oD_Pairs'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.


            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OD_Pairs_Response'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: postV1RailMiles
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/event-codes:
    get:
      tags:
      - Requests
      summary: Event Codes - returns a list of event codes and their descriptions, which…
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tripPlan'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1EventCodes
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/stations:
    get:
      tags:
      - Requests
      summary: Stations - Returns details of each station matching input criteria
      description: One of these parameters is required.
      parameters:
      - name: scac
        in: query
        schema:
          type: string
          example: BNSF
        example: BNSF
      - name: stationName
        in: query
        schema:
          type: string
          example: HOUSTON
        example: Parkwater
      - name: station333
        in: query
        schema:
          type: string
          example: HOUSTON
        example: PARKWTR
      - name: stationState
        in: query
        schema:
          type: string
          example: TX
        example: WA
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/station'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1Stations
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/stcc:
    get:
      tags:
      - Requests
      summary: STCC - Returns STCC numbers and descriptions matching input criteria
      parameters:
      - name: stcc
        in: query
        schema:
          type: string
          example: BNSF
        example: '01'
      - name: commodityDescription
        in: query
        schema:
          type: string
          example: HOUSTON
        example: wheat
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stcc'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1Stcc
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/stcc/hazardous:
    get:
      tags:
      - Requests
      summary: STCC - Hazardous - Returns detailed information on hazardous materials matching…
      parameters:
      - name: stcc
        in: query
        schema:
          type: string
          example: BNSF
        example: '48'
      - name: hazardousCommodityProperShippingName
        in: query
        schema:
          type: string
          example: HOUSTON
        example: WASTE ETHYLENE
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/hazardousCommodities'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1StccHazardous
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/umler:
    post:
      tags:
      - Requests
      summary: Umler - The Umler service returns internal and external dimensions, capacities…
      requestBody:
        $ref: '#/components/requestBodies/requestBody'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/umler'
        '400':
          description: '**Bad Request**


            The request could not be understood by the server due to incorrect syntax. Do not repeat the request without modifications.'
        '403':
          description: "Unauthorized request. Here are the most common causes:\n    \n* You are getting 403 Access Denied.\n\n   * It takes a few days for us to get you set up after you register. When set up is complete, you will receive an email letting you know. If you have not received the email, please wait up to five business days. Let us know via API Support if you still have not received the email after five business days.\n   * You can also get this error if your certificate is not configured properly on your side. Please review the Mutual Authentication in the Getting Started section of our documentation.\n\n\n* You are getting 403 \"message\": \"Insufficient privileges\" when accessing a restricted service for which you do not have permission. You can use our Registration form to request access. Be sure to explain the situation in the \"Please explain how you intend to use the API\" field.\n"
        '404':
          description: '**Not Found**


            The server cannot find the requested resource (URI). That is, the address of the endpoint in your request does not exist. Please consult the documentation.'
        '405':
          description: '**Method Not Allowed**


            The request HTTP method is known by the server but has been disabled and cannot be used for that resource. For example, you may be using GET when POST is required. Please consult the documentation.'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
        '500':
          description: '**Internal Server Error**


            The server encountered an unexpected condition which prevented it from fulfilling the request. This is always a problem on the server side. Our internal support systems will be made aware.'
        '504':
          description: '**Gateway Timeout**


            The server is acting as a gateway and cannot get a response in time for a request. Wait about one minute then try again.'
      operationId: postV1Umler
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/intermodal-schedules:
    get:
      tags:
      - Requests
      summary: Intermodal Schedules - Returns all Intermodal Schedules
      parameters:
      - name: shipmentServiceLevelCode
        in: query
        description: E=Expedited; P = Premium; Y = Empty
        schema:
          type: string
          title: Schema
          example: E
      - name: businessTypeCode
        in: query
        description: D=Domestic; I=International; B=International and Domestic
        schema:
          type: string
          title: Schema
          example: D
      - name: equipmentTypeCode
        in: query
        description: K=Container; V=Trailer
        schema:
          type: string
          title: Schema
          example: K
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                type: object
                title: Schema
                properties:
                  elements:
                    type: array
                    title: Elements
                    items:
                      $ref: '#/components/schemas/intermodal_schedules'
                additionalProperties: true
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      security:
      - Restricted: []
      operationId: getV1IntermodalSchedules
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/bol:
    post:
      tags:
      - Requests
      summary: Submit Bill of Lading - Submit required transit information in order to create…
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/billOfLading'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
        '201':
          description: '**Created**


            The request successfully created a new resource. '
        '400':
          description: '**Bad Request**


            The request could not be understood by the server due to incorrect syntax. Do not repeat the request without modifications.'
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    timestamp:
                      type: string
                      example: 2020-08-13T21:26:36.977+0000
                    internalErrorId:
                      type: string
                      example: '20003'
                    httpStatusCode:
                      type: string
                      example: '400'
                    message:
                      type: string
                      example: BOL submission invalid
                    messageLabel:
                      type: string
                      example: Invalid STCC code
        '403':
          description: "**Forbidden**\n\nUnauthorized request. Here are the most common causes:\n    \n* You are getting 403 Access Denied.\n\n   * It takes a few days for us to get you set up after you register. When set up is complete, you will receive an email letting you know. If you have not received the email, please wait up to five business days. Let us know via API Support if you still have not received the email after five business days.\n   * You can also get this error if your certificate is not configured properly on your side. Please review the Mutual Authentication in the Getting Started section of our documentation.\n\n\n* You are getting 403 \"message\": \"Insufficient privileges\" when accessing a restricted service for which you do not have permission. You can use our Registration form to request access. Be sure to explain the situation in the \"Please explain how you intend to use the API\" field."
        '404':
          description: '**Not Found**


            The server cannot find the requested resource (URI). That is, the address of the endpoint in your request does not exist. Please consult the documentation.'
        '405':
          description: '**Method Not Allowed**


            The request HTTP method is known by the server but has been disabled and cannot be used for that resource. For example, you may be using GET when POST is required. Please consult the documentation.'
        '429':
          description: "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return a **429 Too Many Requests** error response. Upon receiving such exceptions, you can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits. "
        '500':
          description: '**Internal Server Error**


            The server encountered an unexpected condition which prevented it from fulfilling the request. This is always a problem on the server side. Our internal support systems will be made aware.'
        '504':
          description: '**Gateway Timeout**


            The server is acting as a gateway and cannot get a response in time for a request. Wait about one minute then try again.'
      security:
      - Restricted: []
      operationId: postV1Bol
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
  /v1/waybill:
    get:
      tags:
      - Requests
      summary: Retrieve Waybill - Retrieve current active waybill/bill of lading information…
      description: 'Changelog


        November 17, 2021: Added customerWaybillReferenceNumbers array.'
      parameters:
      - name: equipmentInitial
        in: query
        description: Equipment initial.
        required: true
        schema:
          type: string
          example: BNSF
      - name: equipmentNumber
        in: query
        description: Equipment number.
        required: true
        schema:
          type: string
          example: '12345'
      responses:
        '200':
          description: '**OK**


            The request has succeeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Waybill_Details'
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
        '504':
          $ref: '#/components/responses/504'
      operationId: getV1Waybill
      x-operation-id-source: derived
    servers:
    - url: https://api.bnsf.com:6443
components:
  schemas:
    automotiveVehicleHoldAdd:
      type: object
      title: Automotive Vehicle Hold Add
      required:
      - automotiveVehicleHoldChangeRequestedById
      - automotiveHoldOriginDestinationCode
      - vinList
      properties:
        automotiveVehicleHoldChangeRequestedById:
          type: string
          title: Automotive Vehicle Hold Change Requested By ID
          description: Identifier of the entity that has requested a hold status change for automotive vehicles (by VIN). Values originate from other sources and may include SCAC, Manufacturer ID, etc.
          example: ABCD
        automotiveHoldOriginDestinationCode:
          type: string
          title: Automotive Hold Origin Destination Code
          description: Code that defines if the associated Automotive hold information relates to an origin or destination location.
          example: O (Origin)
        vinList:
          type: array
          title: VIN List
          description: Comma separated list of VIN (Vehicle Identification Numbers).
          items:
            type: string
            example: '12345678901234567'
    haulawayGateEntryResponse:
      type: object
      title: 'Haulaway Gate Entry Response '
      required:
      - scac
      - haulawayDriverId
      - aarRampCode
      - haulawayGatePassId
      properties:
        scac:
          type: string
          title: SCAC
          description: SCAC (Standard Carrier Alpha Code) consists of a two to four character alpha abbreviation used to designate a transportation company. SCACs are assigned by NMFTA (National Motor Freight Traffic Association).
          example: ABCD
        haulawayDriverId:
          type: string
          title: Haulaway Driver ID
          description: A value assigned to identify a haulaway truck driver. Value may be a Driver License Number or a value assigned by a haulaway carrier itself.
          example: K18
        aarRampCode:
          type: string
          title: AAR Ramp Code
          description: Code assigned by the AAR (Association Of American Railroads) that uniquely identifies automotive ramps used in loading and unloading trains throughout North America.
          example: TX027
        haulawayGatePassId:
          type: string
          title: Haulaway Gate Pass ID
          description: The gate pass ID is assigned by a haulaway carrier. As there are multiple haulaway carriers, this value is not guaranteed to be unique across all haulers, therefore duplicate values are possible.
          example: ABCD1234
        bnsfHaulawayGatePassId:
          type: string
          title: Haulaway Pass Id
          description: The unique identifier of a gate pass, as generated by BNSF, for every load received from a Haulaway Carrier through the EPOD (Electronic Proof of Delivery) process.
          example: EQAEM6
        haulawayLoadId:
          type: string
          title: Haulaway Load ID
          description: Identification of a specific load as assigned by the haulaway carrier itself. As the value is assigned externally it may or may not be unique.
          example: ABCD1234
        haulawayTrailerNumber:
          type: string
          title: Haulaway Trailer Number
          description: Identification number assigned to a Trailer (part of a tractor trailer) as supplied by the haulaway carrier.
          example: 5688T
        haulawayTruckNumber:
          type: string
          title: Haulaway Truck Number
          description: Identification number assigned to a Truck (part of a tractor trailer) as supplied by the haulaway carrier.
          example: Q1025
        automotiveVehicles:
          type: array
          title: Automotive Vehicles
          items:
            type: object
            required:
            - vin
            - commodityStorageZoneName
            - commodityStorageZoneBayName
            properties:
              vin:
                type: string
                title: VIN
                description: Vehicle Identification Number (VIN) is a unique, standardized, alphanumeric ID used by the automotive industry to identify individual motor vehicles.
                example: 1X6XXXXX2XX566133
              commodityStorageZoneName:
                type: string
                title: commodityStorageZoneName
                description: The name of a zone, within a facility or station's storage area, where a commodity (e.g. automobile) is stored or parked.
                example: PIZN
              commodityStorageZoneBayName:
                type: string
                title: commodityStorageZoneBayName
                description: The name of a bay, within a facility or station's storage area, where a commodity (e.g. automobile) is stored or parked.
                example: A1
    PreOutageResponseFromBNSF:
      type: object
      properties:
        errors:
          type: array
          description: 'List of errors:

            0000 - Vin is valid and present in table /

            E002 - Vin is not present in table /

            E0003 - Multiple Vins Found /

            E9999 - Error Querying for Vin'
          items:
            type: object
            properties:
              code:
                type: string
              message:
                type: string
              vin:
                type: string
            additionalProperties: false
          example: []
        preGateResponseData:
          type: array
          items:
            type: object
            properties:
              carrierScac:
                type: string
                description: SCAC (Standard Carrier Alpha Code) consists of a two to four character alpha abbreviation used to designate a transportation company. SCACs are assigned by NMFTA (National Motor Freight Traffic Association).
                example: DEAA
              driverLicense:
                type: string
                description: A value assigned to identify a haulaway truck driver. Value may be a Driver License Number or a value assigned by a haulaway carrier itself.
                example: WDL55BTJ263B
              gatePassCode:
                type: string
                description: Identification of a specific load as assigned by the haulaway carrier itself. As the value is assigned externally it may or may not be unique.
                example: '703241'
              haulPassCode:
                type: string
                description: BNSF generated unique code for entry/exit requests
                example: CPHWBK
              loadNumber:
                type: string
                description: Identification of a specific load as assigned by the haulaway carrier itself. As the value is assigned externally it may or may not be unique.
                example: '703241'
              loadedVehicles:
                type: array
                description: List of VINs
                items:
                  type: object
                  properties:
                    bay:
                      type: string
                      description: A designated spot within a zone where shipments are staged for loading or unloading.
                      example: R12
                    damages:
                      type: array
                      description: List of damages
                      items:
                        type: object
                        properties:
                          location:
                            type: string
                            description: Code that defines the area of an automobile where damage has been reported.
                            example: '00'
                          severity:
                            type: string
                            description: Code that defines the severity of damage to an automobile that has been reported.
                            example: '0'
                          type:
                            type: string
                            description: Code that defines the type of damage to an automobile that has been reported.
                            example: '00'
                        additionalProperties: false
                    vin:
                      type: string
                      description: Vehicle Identification Number (VIN) is a unique, standardized, alphanumeric ID used by the automotive industry to identify individual motor vehicles.
                      example: 3FTTW8SA6TRA22427
                    zone:
                      type: string
                      description: A section of the parking lot that contains multiple bays for organizing shipments.
                      example: R
                  additionalProperties: false
              outGateLocation:
                type: string
                description: Code assigned by the AAR (Association Of American Railroads) that uniquely identifies automotive ramps used in loading and unloading trains throughout North America.
                example: OR002
              trailerNumber:
                type: string
                description: Identification number assigned to a Trailer (part of a tractor trailer) as supplied by the haulaway carrier.
                example: '1111'
              truckNumber:
                type: string
                description: Identification number assigned to a Truck (part of a tractor trailer) as supplied by the haulaway carrier.
                example: '2222'
            additionalProperties: false
      additionalProperties: false
    automotiveVehicleHoldRelease:
      type: object
      title: Automotive Vehicle Hold Release
      required:
      - automotiveVehicleHoldChangeRequestedById
      - vinList
      properties:
        automotiveVehicleHoldChangeRequestedById:
          type: string
          title: Automotive Vehicle Hold Change Requested By ID
          description: Identifier of the entity that has requested a hold status change for automotive vehicles (by VIN). Values originate from other sources and may include SCAC, Manufacturer ID, etc.
          example: ABCD
        vinList:
          type: array
          title: VIN List
          description: Comma separated list of VIN (Vehicle Identification Numbers).
          items:
            type: string
            example: '12345678901234567'
    GateExitRequestResponseFromBNSF:
      type: object
      properties:
        errors:
          type: array
          description: 'List of errors:

            0000 - Vin is valid and present in table /

            E002 - Vin is not present in table /

            E0003 - Multiple Vins Found /

            E9999 - Error Querying for Vin'
          items:
            type: object
            properties:
              code:
                type: string
                example: '0000'
              message:
                type: string
                example: Vin is valid and present in table
              vin:
                type: string
                example: 4JGFB4FB0TB515072
            additionalProperties: false
        gateExitRequestFromHaulaway:
          type: object
          properties:
            carrierScac:
              type: string
              description: SCAC (Standard Carrier Alpha Code) consists of a two to four character alpha abbreviation used to designate a transportation company. SCACs are assigned by NMFTA (National Motor Freight Traffic Association).
              example: SPMA
            driverLicense:
              type: string
              description: A value assigned to identify a haulaway truck driver. Value may be a Driver License Number or a value assigned by a haulaway carrier itself.
              example: '16435'
            gatePassCode:
              type: string
              description: Identification of a specific load as assigned by the haulaway carrier itself. As the value is assigned externally it may or may not be unique.
              example: 552IRB
            loadNumber:
              type: string
              description: Identification of a specific load as assigned by the haulaway carrier itself. As the value is assigned externally it may or may not be unique.
              example: '389772'
            loadedVehicles:
              type: array
              description: List of VINs
              items:
                type: object
                properties:
                  damages:
                    type: array
                    description: List of damages
                    items:
                      type: object
                      properties:
                        location:
                          type: string
                          description: Code that defines the area of an automobile where damage has been reported.
                          example: '25'
                        severity:
                          type: string
                          description: Code that defines the severity of damage to an automobile that has been reported.
                          example: '2'
                        type:
                          type: string
                          description: Code that defines the type of damage to an automobile that has been reported.
                          example: '2'
                  vin:
                    type: string
                    description: Vehicle Identification Number (VIN) is a unique, standardized, alphanumeric ID used by the automotive industry to identify individual motor vehicles.
                    example: 4JGFB4FB0TB515072
            outGateLocation:
              type: string
[...]
