{
  "openapi": "3.0.0",
  "info": {
    "title": "",
    "description": "",
    "termsOfService": "http://www.bnsf.com/site-terms-of-use.html",
    "contact": {
      "name": "BNSF Customer API",
      "email": "CustomerAPI@bnsf.com"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.bnsf.com:6443"
    }
  ],
  "paths": {
    "/v1/trip-plan-automotive": {
      "get": {
        "tags": [
          "AUTOMOTIVE"
        ],
        "summary": "Trip Plan - Returns list of significant events planned for a VIN from origin to destination.",
        "parameters": [
          {
            "name": "vin",
            "in": "query",
            "description": "VIN",
            "schema": {
              "type": "string",
              "example": "BNSF"
            },
            "example": "4S4WMACD2N3441052"
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tripPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/vins": {
      "post": {
        "tags": [
          "AUTOMOTIVE"
        ],
        "summary": "VINS - Returns tracing details for requested VINS, up to 300 at a time.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Schema",
                "properties": {
                  "vinList": {
                    "$ref": "#/components/schemas/vin_list"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/vins"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/vin-details": {
      "get": {
        "tags": [
          "AUTOMOTIVE"
        ],
        "summary": "VIN Details - Returns detailed information about your VIN shipments.",
        "parameters": [
          {
            "name": "vinList",
            "in": "query",
            "description": "VIN List - Optional parameter with a limit of 300 VINs. If not present, this service returns all VINs accessible by user.",
            "schema": {
              "type": "string",
              "example": "2HGFE1F70PH310453,2ABCD1F70PH310453"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vinDetails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/vin-inspections": {
      "get": {
        "tags": [
          "AUTOMOTIVE"
        ],
        "summary": "VIN Inspections- Returns detailed information about inspections of your VIN shipments.",
        "parameters": [
          {
            "name": "vinList",
            "in": "query",
            "description": "VIN List - This required parameter has a minimum of one VIN and a limit of 20 comma-separated VINs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "2HGFE1F70PH310453"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/vinInspections"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/cars": {
      "get": {
        "tags": [
          "CARLOAD"
        ],
        "summary": "Cars - Returns tracing details for railcars on the BNSF network, with a default page size of 2,000.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The default and maximum number of cars to return per request.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the set of cars you are requesting. For example, a query string of \"?page=1\" is equivalent to \"?page=1&limit=2000\" will return the first 2,000 cars. \"?page=2\" will return the next set of 2,000 cars.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/carload"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "CARLOAD"
        ],
        "summary": "Cars - Returns tracing details for requested cars, up to 300 at a time.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Schema",
                "properties": {
                  "carList": {
                    "$ref": "#/components/schemas/equipment_list"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/carload"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "description": "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/carload-consist": {
      "get": {
        "tags": [
          "CARLOAD"
        ],
        "summary": "Carload Consist - Returns tracing details for railcars on U, J, C, E, G and X unit trains.",
        "parameters": [
          {
            "name": "train",
            "in": "query",
            "description": "train",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Schema",
              "example": "GBSBNSL907"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/carload"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "description": "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/trip-plan-carload": {
      "get": {
        "tags": [
          "CARLOAD"
        ],
        "summary": "Trip Plan - Returns list of significant events planned for a railcar equipment initial and number from origin to destination.",
        "parameters": [
          {
            "name": "equipmentInitial",
            "in": "query",
            "description": "Equipment Initial.",
            "schema": {
              "type": "string",
              "example": "BNSF"
            }
          },
          {
            "name": "equipmentNumber",
            "in": "query",
            "description": "Equipment Number.",
            "schema": {
              "type": "string",
              "example": "12345"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tripPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/trip-plan-intermodal": {
      "get": {
        "tags": [
          "INTERMODAL"
        ],
        "summary": "Trip Plan - Returns list of significant events planned for an intermodal equipment initial and number from origin to destination.",
        "parameters": [
          {
            "name": "equipmentInitial",
            "in": "query",
            "description": "Equipment Initial.",
            "schema": {
              "type": "string",
              "example": "BNSF"
            }
          },
          {
            "name": "equipmentNumber",
            "in": "query",
            "description": "Equipment Number.",
            "schema": {
              "type": "string",
              "example": "12345"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tripPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/units": {
      "get": {
        "tags": [
          "INTERMODAL"
        ],
        "summary": "Units - Returns tracing details for units on the BNSF network, with a default page size of 2,000.",
        "description": "Changelog\n- July 2026: Added tofccofc field in response\n",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The default and maximum number of intermodal units to return per request.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 2000
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number of the set of intermodal units you are requesting. For example, a query string of \"?page=1\" is equivalent to \"?page=1&limit=2000\" will return the first 2,000 units. \"?page=2\" will return the next set of 2,000 units.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "elements",
                      "items": {
                        "$ref": "#/components/schemas/intermodal"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      },
      "post": {
        "tags": [
          "INTERMODAL"
        ],
        "summary": "Units - Returns tracing details for requested units, up to 300 at a time.",
        "description": "Changelog\n- July 2026: Added tofccofc field in response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "unitList": {
                    "$ref": "#/components/schemas/equipment_list"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/intermodal"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/trains": {
      "get": {
        "tags": [
          "TRAINS"
        ],
        "summary": "Trains - Provides current status, with tracing details for all unit train types.",
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/ag"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "413": {
            "description": "**Payload Too Large**\n\nThe request entity is larger than limits defined by server."
          },
          "429": {
            "description": "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/ag-trains": {
      "post": {
        "tags": [
          "TRAINS"
        ],
        "summary": "Ag Trains - Provides current status, with tracing details for up to 25 Ag trains.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Schema",
                "properties": {
                  "trainList": {
                    "$ref": "#/components/schemas/train_list_ag"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/ag"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "413": {
            "description": "**Payload Too Large**\n\nThe request entity is larger than limits defined by server."
          },
          "429": {
            "$ref": "#/components/responses/429"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/coal-trains": {
      "post": {
        "tags": [
          "TRAINS"
        ],
        "summary": "Coal Trains - Provides current status, with tracing details for up to 25 Coal trains.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Schema",
                "properties": {
                  "trainList": {
                    "$ref": "#/components/schemas/train_list_coal"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/coal"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "413": {
            "description": "**Payload Too Large**\n\nThe request entity is larger than limits defined by server."
          },
          "429": {
            "description": "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    },
    "/v1/ip-trains": {
      "post": {
        "tags": [
          "TRAINS"
        ],
        "summary": "IP Trains - Provides current status, with tracing details up to 25 industrial products unit trains.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Schema",
                "properties": {
                  "trainList": {
                    "$ref": "#/components/schemas/train_list_ip"
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "**OK**\n\nThe request has succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Schema",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "title": "Elements",
                      "items": {
                        "$ref": "#/components/schemas/ag"
                      }
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "403": {
            "$ref": "#/components/responses/403"
          },
          "404": {
            "$ref": "#/components/responses/404"
          },
          "405": {
            "$ref": "#/components/responses/405"
          },
          "413": {
            "description": "**Payload Too Large**\n\nThe request entity is larger than limits defined by server."
          },
          "429": {
            "description": "**Too Many Requests**\n\nThe BNSF API Gateway enforces rate limits to maintain application security and performance.  Current rate limits are set as follows:\n* 1 API Request Per Second, Per Partner, Per Service\n* 15 API Requests Per Minute, Per Partner, Per Service\n* 100 API Request Per Minute, Per Service\n \nWhen requests exceed these limits the API Gateway will return **429 Too Many Requests** error response to the Client.  Upon receiving such exceptions, the client can resubmit failed requests in a rate-limited manner, complying with the API Gateway throttle limits.\n"
          },
          "500": {
            "$ref": "#/components/responses/500"
          },
          "504": {
            "$ref": "#/components/responses/504"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ag": {
        "type": "object",
        "title": "Agriculture",
        "properties": {
          "destinationRailNetworkLocationName": {
            "type": "string",
            "title": "destinationRailNetworkLocationName",
            "description": "The final BNSF operating station and state. This can be different than customer destination. See **finalDestinationRailNetworkLocationName** the final rail station and state as stated on the waybill.  ",
            "example": "LOSANGELE, CA"
          },
          "emptyCarCount": {
            "type": "integer",
            "format": "int32",
            "title": "emptyCarCount",
            "description": "Number of empty cars on the train",
            "example": 115
          },
          "estimatedShipmentAvailabilityDateTime": {
            "type": "string",
            "title": "estimatedShipmentAvailabilityDateTime",
            "description": "Estimated date and time that the shipment becomes available to the customer\n",
            "example": "10/14/2019 00:40"
          },
          "lastEventDateTime": {
            "type": "string",
            "title": "lastEventDateTime",
            "example": "2023-02-11 19:41"
          },
          "lastEventDescription": {
            "type": "string",
            "title": "lastEventDescription",
            "description": "Description of most recent event\n",
            "example": "Passing"
          },
          "lastEventRailNetworkLocationName": {
            "type": "string",
            "title": "lastEventRailNetworkLocationName",
            "description": "The location of the most recently reported event. See Event Description.",
            "example": "REDROCK, OK"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "title": "Latitude",
            "description": "Last reported latitude of the shipment.",
            "example": 37.260433
          },
          "loadedCarCount": {
            "type": "integer",
            "format": "int32",
            "title": "loadedCarCount",
            "description": "Number of loaded cars on the train",
            "example": 115
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "title": "Longitude",
            "description": "Last reported longitude of the shipment.",
            "example": -97.60999
          },
          "nextTrainId": {
            "type": "string",
            "title": "nextTrainId",
            "description": "Next train ID",
            "example": "XTACEDI915"
          },
          "originRailNetworkLocationName": {
            "type": "string",
            "title": "originRailNetworkLocationName",
            "description": "The origin station and state of the shipment.",
            "example": "ALLIANCE, TX"
          },
          "shuttleTrainPermitNumber": {
            "type": "string",
            "title": "shuttleTrainPermitNumber",
            "description": "Shuttle train permint number",
            "example": "1331164"
          },
          "shuttleOperatorCompanyAbbreviation": {
            "type": "string",
            "title": "shuttleOperatorCompanyAbbreviation",
            "description": "Shuttle current trip operator customer abbreviation\n",
            "example": "AGCO"
          },
          "shuttleOrderRequesterAbbreviation": {
            "type": "string",
            "title": "shuttleOrderRequesterAbbreviation",
            "description": "Shuttle order requester customer abbreviation\n",
            "example": "AGCO"
          },
          "shuttleOwnerCompanyAbbreviation": {
            "type": "string",
            "title": "shuttleOwnerCompanyAbbreviation",
            "description": "Shuttle owner customer abbreviation\n",
            "example": "USCOMLLC"
          },
          "trainId": {
            "type": "string",
            "title": "trainId",
            "description": "The code that identifies a specific train and is used to locate cars, units, or shipments. Train IDs consist of four parts:\n\nType: Train type, based on the commodity being transported, or the speed the train needs to move. Valid values range from A to Z.\nSymbol: A combination of carrier interchange and the number of trains out that day.\nDay: The day of the month the train departed from origin location, in mm-dd format.\nSchedule ID: A value from A to Z.\n",
            "example": "GBRETAC908"
          }
        },
        "additionalProperties": false
      },
      "carload": {
        "type": "object",
        "title": "Carload",
        "properties": {
          "destinationRailNetworkLocationName": {
            "type": "string",
            "title": "Destination Station State",
            "description": "The final BNSF operating station and state. This can be different than customer destination. See **rail_destination_station_state** the final rail station and state as stated on the waybill.  ",
            "example": "HALLOCK, MN"
          },
          "equipmentInitial": {
            "type": "string",
            "title": "Equipment Initial",
            "description": "The initials used in the equipment identification for the shipment.",
            "example": "BNSF"
          },
          "equipmentNumber": {
            "type": "string",
            "title": "Equipment Number",
            "description": "The numbers used in  the equipment identification for the shipment.",
            "example": "255314"
          },
          "equipmentLoadStatusCode": {
            "type": "string",
            "title": "Equipment Status Code",
            "description": "L or E, this code describes whether the equipment is loaded or empty",
            "enum": [
              "L",
              "E"
            ],
            "minLength": 1,
            "maxLength": 1,
            "example": "E"
          },
          "estimatedShipmentAvailabilityDate": {
            "type": "string",
            "title": "Estimated Availability Date",
            "description": "Estimated date that the shipment becomes available to the customer\n",
            "example": "11/05/2019"
          },
          "estimatedShipmentAvailabilityTime": {
            "type": "string",
            "title": "Estimated Availability Time",
            "description": "Estimated time that the shipment becomes available to the customer\n",
            "example": "12:09"
          },
          "finalDestinationRailNetworkLocationName": {
            "type": "string",
            "title": "finalDestinationRailNetworkLocationName",
            "description": "The final station and state as stated on the waybill.",
            "example": "DILWORTH, MN"
          },
          "finalScheduledEventDescription": {
            "type": "string",
            "title": "finalScheduledEventDescription",
            "description": "Description of the final scheduled event in the trip plan",
            "example": "Actual Placed"
          },
          "lastEventDate": {
            "type": "string",
            "title": "lastEventDate",
            "description": "Date of most recent event.",
            "example": "10/30/2019"
          },
          "lastEventDescription": {
            "type": "string",
            "title": "lastEventDescription",
            "description": "Description of most recent event\n",
            "example": "Train Departed"
          },
          "lastEventTime": {
            "type": "string",
            "title": "lastEventTime",
            "description": "Time of most recent event.",
            "example": "09:03"
          },
          "lastEventRailNetworkLocationName": {
            "type": "string",
            "title": "lastEventRailNetworkLocationName",
            "description": "The location of the most recently reported event. See Event Description.",
            "example": "WILJCT, AZ"
          },
          "lastReportingSCAC": {
            "type": "string",
            "title": "lastReportingSCAC",
            "description": "Carrier abbreviation reporting the most recent event.",
            "example": "BNSF"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "title": "Latitude",
            "description": "Last reported latitude of the shipment.",
            "example": 37.260433
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "title": "Longitude",
            "description": "Last reported longitude of the shipment.",
            "example": -97.60999
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Message regarding equipment search",
            "example": "You are not an authorized waybill party to track this equipment. Please verify your information and try again."
          },
          "nextSCAC": {
            "type": "string",
            "title": "nextSCAC",
            "description": "The next carrier to move the shipment after BNSF."
          },
          "nextScheduledEventDate": {
            "type": "string",
            "title": "nextScheduledEventDate",
            "description": "The estimated date the next scheduled event will occur.",
            "example": "10/30/2019"
          },
          "nextScheduledEventDescription": {
            "type": "string",
            "title": "nextScheduledEventDescription",
            "description": "The next scheduled event to occur in the trip plan.",
            "example": "Train Departed"
          },
          "nextScheduledEventStateCode": {
            "type": "string",
            "title": "nextScheduledEventStateCode",
            "description": "The state where the next scheduled event will occur.",
            "example": "AZ"
          },
          "nextScheduledEventStation333": {
            "type": "string",
            "title": "nextScheduledEventStation333",
            "description": "The station where the next scheduled event will occur.",
            "example": "WINSLOW"
          },
          "nextScheduledEventTime": {
            "type": "string",
            "title": "nextScheduledEventTime",
            "description": "The estimated time the next scheduled event will occur.",
            "example": 709
          },
          "originRailNetworkLocationName": {
            "type": "string",
            "title": "originRailNetworkLocationName",
            "description": "The origin station and state of the shipment.",
            "example": "BARSTOW, CA"
          },
          "shipmentExceptionDescription": {
            "type": "string",
            "title": "shipmentExceptionDescription",
            "description": "A description of any exception that applies to the shipment\n",
            "example": "WILD DETECTOR/ WHL CONDITION"
          },
          "trainId": {
            "type": "string",
            "title": "trainId",
            "description": "The code that identifies a specific train and is used to locate cars, units, or shipments. Train IDs consist of four parts:\n\nType: Train type, based on the commodity being transported, or the speed the train needs to move. Valid values range from A to Z.\nSymbol: A combination of carrier interchange and the number of trains out that day.\nDay: The day of the month the train departed from origin location, in mm-dd format.\nSchedule ID: A value from A to Z.\n",
            "example": "HBARGAL125A"
          },
          "waybillNumber": {
            "type": "string",
            "title": "waybillNumber",
            "description": "Waybill number assigned to the shipment.",
            "example": "123456"
          },
          "careOfParty633": {
            "type": "string",
            "title": "careOfParty633",
            "description": "Name of a receiver of rail cars on behalf of the actual consignee (the  physical delivery point) which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "CAREOF1"
          },
          "careOfPartyFullName": {
            "type": "string",
            "title": "careOfPartyFullName",
            "description": "The full name of a  receiver of rail cars on behalf of the actual consignee (the  physical delivery point).",
            "example": "CARE OF 1"
          },
          "consignee633": {
            "type": "string",
            "title": "consignee633",
            "description": "Name of a Customer, acting as the Consignee (AKA Receiver), which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "CNSGNEE"
          },
          "consigneeFullName": {
            "type": "string",
            "title": "consigneeFullName",
            "description": "The full name of a customer that is filling the role of Consignee. A Consignee, also referred to as the \\\"Receiver\\\", is the company or individual receiving a shipment at a destination.",
            "example": "CONSIGNEE"
          },
          "notifyParty633": {
            "type": "string",
            "title": "notifyParty633",
            "description": "Name of the party to be notified at the time a container or trailer is grounded from a train. Most notify parties are draymen. Value has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "NOTPRTY1"
          },
          "notifyPartyFullName": {
            "type": "string",
            "title": "notifyPartyFullName",
            "description": "Full name of the party to be notified at the time a container or trailer is grounded from a train. Most notify parties are draymen.",
            "example": "NOTIFY PARTY 1"
          },
          "shipper633": {
            "type": "string",
            "title": "shipper633",
            "description": "Name of a Customer, acting as the Shipper, which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "SHPRABC"
          },
          "shipperFullName": {
            "type": "string",
            "title": "shipperFullName",
            "description": "Full name of a Customer, acting as the Shipper.",
            "example": "SHIPPER"
          },
          "stcc": {
            "type": "string",
            "title": "stcc",
            "description": "STCC (Standard Transportation Commodity Code) number identifying a Commodity.",
            "example": "9999"
          },
          "billOfLadingId": {
            "type": "string",
            "title": "billOfLadingId",
            "description": "Is a unique identifier for an instance of an internal or external customer request for the Bill of Lading via rail.",
            "example": "017415FD"
          }
        },
        "additionalProperties": false
      },
      "coal": {
        "type": "object",
        "title": "Coal",
        "properties": {
          "destinationRailNetworkLocationName": {
            "type": "string",
            "title": "destinationRailNetworkLocationName",
            "description": "The final BNSF operating station and state. This can be different than customer destination. See **finalDestinationRailNetworkLocationName** the final rail station and state as stated on the waybill.  ",
            "example": "LOSANGELE, CA"
          },
          "emptyCarCount": {
            "type": "integer",
            "format": "int32",
            "title": "emptyCarCount",
            "description": "Number of empty cars on the train",
            "example": 100
          },
          "estimatedShipmentAvailabilityDateTime": {
            "type": "string",
            "title": "estimatedShipmentAvailabilityDateTime",
            "description": "Estimated date and time that the shipment becomes available to the customer\n",
            "example": "10/14/2019 00:40"
          },
          "lastEventDateTime": {
            "type": "string",
            "title": "lastEventDateTime",
            "example": "2023-02-28 12:49"
          },
          "lastEventDescription": {
            "type": "string",
            "title": "lastEventDescription",
            "description": "Description of most recent event\n",
            "example": "Passing"
          },
          "lastEventRailNetworkLocationName": {
            "type": "string",
            "title": "lastEventRailNetworkLocationName",
            "description": "The location of the most recently reported event. See Event Description.",
            "example": "REDROCK, OK"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "title": "Latitude",
            "description": "Last reported latitude of the shipment.",
            "example": 37.260433
          },
          "loadedCarCount": {
            "type": "integer",
            "format": "int32",
            "title": "loadedCarCount",
            "description": "Number of loaded cars on the train",
            "example": 0
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "title": "Longitude",
            "description": "Last reported longitude of the shipment.",
            "example": -97.60999
          },
          "originRailNetworkLocationName": {
            "type": "string",
            "title": "originRailNetworkLocationName",
            "description": "The origin station and state of the shipment.",
            "example": "ALLIANCE, TX"
          },
          "trainId": {
            "type": "string",
            "title": "trainId",
            "description": "The code that identifies a specific train and is used to locate cars, units, or shipments. Train IDs consist of four parts:\n\nType: Train type, based on the commodity being transported, or the speed the train needs to move. Valid values range from A to Z.\nSymbol: A combination of carrier interchange and the number of trains out that day.\nDay: The day of the month the train departed from origin location, in mm-dd format.\nSchedule ID: A value from A to Z.\n",
            "example": "UKRFCPG031"
          }
        },
        "additionalProperties": false
      },
      "equipment_list": {
        "type": "array",
        "title": "Equipment List",
        "items": {
          "type": "string",
          "example": "BNSF123456"
        },
        "minItems": 1,
        "maxItems": 300,
        "example": [
          "BNSF123456",
          "BNSF301133"
        ]
      },
      "intermodal": {
        "type": "object",
        "title": "Intermodal",
        "properties": {
          "bnsfTransitGoalDate": {
            "type": "string",
            "title": "bnsfTransitGoalDate",
            "description": "BNSF transit goal date\n",
            "example": "10/31/2019"
          },
          "bnsfTransitGoalTime": {
            "type": "string",
            "title": "bnsfTransitGoalTime",
            "description": "BNSF transit goal time\n",
            "example": "04:00"
          },
          "carId": {
            "type": "string",
            "title": "carId",
            "description": "The car initial and number used to move the intermodal unit or VIN\n",
            "example": "BNSF255011"
          },
          "chassisId": {
            "type": "string",
            "title": "chassisId",
            "description": "The chassis identification number used for the shipment"
          },
          "confirmedEstimatedCustomerNotificationDate": {
            "type": "string",
            "title": "confirmedEstimatedCustomerNotificationDate",
            "description": "The confirmed estimated date that the customer will be notified of delivery",
            "example": "10/31/2019"
          },
          "confirmedEstimatedCustomerNotificationTime": {
            "type": "string",
            "title": "confirmedEstimatedCustomerNotificationTime",
            "description": "The confirmed estimated time that the customer will be notified of delivery",
            "example": "01:00"
          },
          "customerRequestedDate": {
            "type": "string",
            "title": "customerRequestedDate",
            "description": "Date of the customer request for shipment availability\n",
            "example": "10/31/2019"
          },
          "customerRequestedTime": {
            "type": "string",
            "title": "customerRequestedTime",
            "description": "Time of the customer request for shipment availability\n",
            "example": "04:00"
          },
          "demurrageAmount": {
            "type": "number",
            "format": "double",
            "title": "demurrageAmount",
            "description": "The amount charged for storage if not picked up (USD)\n",
            "example": 0
          },
          "demurrageStartDate": {
            "type": "string",
            "title": "demurrageStartDate",
            "description": "The latest date the shipment will be held for storage if not picked up",
            "example": "01/03/2020"
          },
          "destinationRailNetworkLocationName": {
            "type": "string",
            "title": "destinationRailNetworkLocationName",
            "description": "The final BNSF operating station and state. This can be different than customer destination. See **finalDestinationRailNetworkLocationName** the final rail station and state as stated on the waybill.  ",
            "example": "ALLIANCE, TX"
          },
          "equipmentInitial": {
            "type": "string",
            "title": "equipmentInitial",
            "description": "The initials used in the equipment identification for the shipment.",
            "example": "BNFZ"
          },
          "equipmentNumber": {
            "type": "string",
            "title": "equipmentNumber",
            "description": "The numbers used in  the equipment identification for the shipment.",
            "example": "103071"
          },
          "estimatedShipmentAvailabilityDate": {
            "type": "string",
            "title": "estimatedShipmentAvailabilityDate",
            "description": "Estimated date that the shipment becomes available to the customer\n",
            "example": "10/31/2019"
          },
          "estimatedShipmentAvailabilityTime": {
            "type": "string",
            "title": "estimatedShipmentAvailabilityTime",
            "description": "Estimated time that the shipment becomes available to the customer\n",
            "example": "01:24"
          },
          "estimatedCustomerNotificationDate": {
            "type": "string",
            "title": "estimatedCustomerNotificationDate",
            "description": "The estimated date that the customer will be notified of delivery",
            "example": "10/31/2019"
          },
          "estimatedCustomerNotificationTime": {
            "type": "string",
            "title": "estimatedCustomerNotificationTime",
            "description": "The estimated time that the customer will be notified of delivery",
            "example": "01:00"
          },
          "finalDestinationRailNetworkLocationName": {
            "type": "string",
            "title": "finalDestinationRailNetworkLocationName",
            "description": "The final station and state as stated on the waybill.",
            "example": "ALLIANCE, TX"
          },
          "finalScheduledEventDescription": {
            "type": "string",
            "title": "finalScheduledEventDescription",
            "description": "Description of the final scheduled event in the trip plan",
            "example": "Deramp"
          },
          "lastEventDate": {
            "type": "string",
            "title": "lastEventDate",
            "description": "Date of most recent event.",
            "example": "10/30/2019"
          },
          "lastEventDescription": {
            "type": "string",
            "title": "lastEventDescription",
            "description": "Description of most recent event\n",
            "example": "Passing"
          },
          "lastEventTime": {
            "type": "string",
            "title": "lastEventTime",
            "description": "Time of most recent event.",
            "example": 615
          },
          "lastEventRailNetworkLocationName": {
            "type": "string",
            "title": "lastEventRailNetworkLocationName",
            "description": "The location of the most recently reported event. See Event Description.",
            "example": "REDROCK, OK"
          },
          "lastReportingSCAC": {
            "type": "string",
            "title": "lastReportingSCAC",
            "description": "Carrier abbreviation reporting the most recent event.",
            "example": "BNSF"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "title": "Latitude",
            "description": "Last reported latitude of the shipment.",
            "example": 37.260433
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "title": "Longitude",
            "description": "Last reported longitude of the shipment.",
            "example": -97.60999
          },
          "lotRowSpotLabel": {
            "type": "string",
            "title": "lotRowSpotLabel",
            "description": "This is the is the lot, row and spot where the intermodal unit is placed for pickup by the trucker. Also called Lot Location.\n"
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Message regarding equipment search",
            "example": "You are not an authorized waybill party to track this equipment. Please verify your information and try again."
          },
          "nextSCAC": {
            "type": "string",
            "title": "nextSCAC",
            "description": "The next carrier to move the shipment after BNSF.",
            "example": "UP"
          },
          "nextScheduledEventDate": {
            "type": "string",
            "title": "nextScheduledEventDate",
            "description": "The estimated date the next scheduled event will occur.",
            "example": "10/30/2019"
          },
          "nextScheduledEventDescription": {
            "type": "string",
            "title": "nextScheduledEventDescription",
            "description": "The next scheduled event to occur in the trip plan.",
            "example": "Train Departed"
          },
          "nextScheduledEventStateCode": {
            "type": "string",
            "title": "nextScheduledEventStateCode",
            "description": "The state where the next scheduled event will occur.",
            "example": "OK"
          },
          "nextScheduledEventStation333": {
            "type": "string",
            "title": "nextScheduledEventStation333",
            "description": "The station where the next scheduled event will occur.",
            "example": "OKLCITY"
          },
          "nextScheduledEventTime": {
            "type": "string",
            "title": "nextScheduledEventTime",
            "description": "The estimated time the next scheduled event will occur.",
            "example": 774
          },
          "originRailNetworkLocationName": {
            "type": "string",
            "title": "originRailNetworkLocationName",
            "description": "The origin station and state of the shipment.",
            "example": "STPAUL, MN"
          },
          "originalTrainDepartureDate": {
            "type": "string",
            "title": "originalTrainDepartureDate",
            "description": "Original train departure date",
            "example": "10/29/2019"
          },
          "originalTrainDepartureTime": {
            "type": "string",
            "title": "originalTrainDepartureTime",
            "description": "Original train departure time",
            "example": 965
          },
          "originalTrainDepartureTypeCode": {
            "type": "string",
            "title": "originalTrainDepartureTypeCode",
            "description": "Original train departure type code.",
            "example": "A"
          },
          "shipmentExceptionDescription": {
            "type": "string",
            "title": "shipmentExceptionDescription",
            "description": "A description of any exception that applies to the shipment\n",
            "example": "WILD DETECTOR/ WHL CONDITION"
          },
          "trainId": {
            "type": "string",
            "title": "trainId",
            "description": "The code that identifies a specific train and is used to locate cars, units, or shipments. Train IDs consist of four parts:\n\nType: Train type, based on the commodity being transported, or the speed the train needs to move. Valid values range from A to Z.\nSymbol: A combination of carrier interchange and the number of trains out that day.\nDay: The day of the month the train departed from origin location, in mm-dd format.\nSchedule ID: A value from A to Z.\n",
            "example": "ZWSPALT127A"
          },
          "truckingCompanyName": {
            "type": "string",
            "title": "truckingCompanyName",
            "description": "The assigned trucker to move the shipment",
            "example": "ABC"
          },
          "unitTypeCode": {
            "type": "string",
            "title": "unitTypeCode",
            "description": "This is a code that identifies the type of equipment used for the shipment",
            "example": "POG"
          },
          "waybillNumber": {
            "type": "string",
            "title": "waybillNumber",
            "description": "Waybill number assigned to the shipment.",
            "example": "654321"
          },
          "careOfParty633": {
            "type": "string",
            "title": "careOfParty633",
            "description": "Name of a receiver of rail cars on behalf of the actual consignee (the  physical delivery point) which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "CAREOF1"
          },
          "careOfPartyFullName": {
            "type": "string",
            "title": "careOfPartyFullName",
            "description": "The full name of a  receiver of rail cars on behalf of the actual consignee (the  physical delivery point).",
            "example": "CARE OF 1"
          },
          "consignee633": {
            "type": "string",
            "title": "consignee633",
            "description": "Name of a Customer, acting as the Consignee (AKA Receiver), which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "CNSGNEE"
          },
          "consigneeFullName": {
            "type": "string",
            "title": "consigneeFullName",
            "description": "The full name of a customer that is filling the role of Consignee. A Consignee, also referred to as the \\\"Receiver\\\", is the company or individual receiving a shipment at a destination.",
            "example": "CONSIGNEE"
          },
          "notifyParty633": {
            "type": "string",
            "title": "notifyParty633",
            "description": "Name of the party to be notified at the time a container or trailer is grounded from a train. Most notify parties are draymen. Value has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "NOTPRTY1"
          },
          "notifyPartyFullName": {
            "type": "string",
            "title": "notifyPartyFullName",
            "description": "Full name of the party to be notified at the time a container or trailer is grounded from a train. Most notify parties are draymen.",
            "example": "NOTIFY PARTY 1"
          },
          "shipper633": {
            "type": "string",
            "title": "shipper633",
            "description": "Name of a Customer, acting as the Shipper, which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "SHPRABC"
          },
          "shipperFullName": {
            "type": "string",
            "title": "shipperFullName",
            "description": "Full name of a Customer, acting as the Shipper.",
            "example": "SHIPPER"
          },
          "stcc": {
            "type": "string",
            "title": "stcc",
            "description": "STCC (Standard Transportation Commodity Code) number identifying a Commodity.",
            "example": "9999"
          },
          "bol": {
            "type": "string",
            "title": "bol",
            "description": "Is a unique identifier for an instance of an internal or external customer request for the Bill of Lading via rail.",
            "example": "017415FD"
          },
          "tofccofc": {
            "type": "string",
            "title": "tofccofc",
            "description": "TOFC = Trailer on Flat Car, COFC = Container on Flat Car",
            "example": "C"
          }
        },
        "additionalProperties": false
      },
      "intermodalUnits": {
        "type": "object",
        "title": "intermodalUnitsRequest",
        "properties": {
          "intermodalUnits": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "equipmentInitial": {
                  "type": "string",
                  "example": "BNSF"
                },
                "equipmentNumber": {
                  "type": "string",
                  "example": "123456"
                }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "train_list_ag": {
        "type": "array",
        "title": "Train List Agriculture",
        "items": {
          "type": "string",
          "example": "GBRETAC907"
        },
        "minItems": 1,
        "maxItems": 300,
        "example": [
          "GBRETAC907",
          "GBRETAC908"
        ]
      },
      "train_list_coal": {
        "type": "array",
        "title": "Train List Coal",
        "items": {
          "type": "string",
          "example": "CBTMCOB044"
        },
        "minItems": 1,
        "maxItems": 300,
        "example": [
          "CBTMCOB044",
          "CBTMCOB045"
        ]
      },
      "train_list_ip": {
        "type": "array",
        "title": "Train List Ip",
        "items": {
          "type": "string",
          "example": "UKRFCPG032"
        },
        "minItems": 1,
        "maxItems": 300,
        "example": [
          "UKRFCPG032",
          "UKRFCPG031"
        ]
      },
      "unit_list": {
        "type": "array",
        "title": "unit_list",
        "items": {
          "type": "string",
          "example": "JBHU722223"
        },
        "minItems": 1,
        "maxItems": 100,
        "example": [
          "JBHU722223",
          "JBHU722254"
        ]
      },
      "vins": {
        "type": "object",
        "title": "Vins",
        "properties": {
          "commodityVin": {
            "type": "string",
            "title": "commodityVin",
            "description": "Vehicle Identification Number\n",
            "example": "1FM5K8GC9LGA16302"
          },
          "carId": {
            "type": "string",
            "title": "carId",
            "description": "The car initial and number used to move the intermodal unit or VIN\n",
            "example": "BNSF301578"
          },
          "destinationRailNetworkLocationName": {
            "type": "string",
            "title": "destinationRailNetworkLocationName",
            "description": "The final BNSF operating station and state. This can be different than customer destination. See **finalDestinationRailNetworkLocationName** the final rail station and state as stated on the waybill.  ",
            "example": "LOSANGELE, CA"
          },
          "estimatedShipmentAvailabilityDate": {
            "type": "string",
            "title": "estimatedShipmentAvailabilityDate",
            "description": "Estimated date that the shipment becomes available to the customer\n",
            "example": "09/21/2019"
          },
          "estimatedShipmentAvailabilityTime": {
            "type": "string",
            "title": "estimatedShipmentAvailabilityTime",
            "description": "Estimated time that the shipment becomes available to the customer\n",
            "example": "02:00"
          },
          "finalScheduledEventDescription": {
            "type": "string",
            "title": "finalScheduledEventDescription",
            "description": "Description of the final scheduled event in the trip plan",
            "example": "Deramp"
          },
          "finalDestinationRailNetworkLocationName": {
            "type": "string",
            "title": "finalDestinationRailNetworkLocationName",
            "description": "The final station and state as stated on the waybill.",
            "example": "SANBERNAR, CA"
          },
          "lastEventDate": {
            "type": "string",
            "title": "lastEventDate",
            "description": "Date of most recent event.",
            "example": "09/17/2019"
          },
          "lastEventDescription": {
            "type": "string",
            "title": "lastEventDescription",
            "description": "Description of most recent event\n",
            "example": "Passing"
          },
          "lastEventTime": {
            "type": "string",
            "title": "lastEventTime",
            "description": "Time of most recent event.",
            "example": "07:24"
          },
          "lastEventRailNetworkLocationName": {
            "type": "string",
            "title": "lastEventRailNetworkLocationName",
            "description": "The location of the most recently reported event. See Event Description.",
            "example": "DARLING, AZ"
          },
          "lastReportingSCAC": {
            "type": "string",
            "title": "lastReportingSCAC",
            "description": "Carrier abbreviation reporting the most recent event.",
            "example": "BNSF"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "title": "Latitude",
            "description": "Last reported latitude of the shipment.",
            "example": 37.260433
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "title": "Longitude",
            "description": "Last reported longitude of the shipment.",
            "example": -97.60999
          },
          "message": {
            "type": "string",
            "title": "Message",
            "description": "Message regarding VIN search.",
            "example": "You are not an authorized waybill party to track this VIN. Please verify your information and try again."
          },
          "nextSCAC": {
            "type": "string",
            "title": "nextSCAC",
            "description": "The next carrier to move the shipment after BNSF.",
            "example": "UP"
          },
          "nextScheduledEventDate": {
            "type": "string",
            "title": "nextScheduledEventDate",
            "description": "The estimated date the next scheduled event will occur.",
            "example": "09/18/2019"
          },
          "nextScheduledEventDescription": {
            "type": "string",
            "title": "nextScheduledEventDescription",
            "description": "The next scheduled event to occur in the trip plan.",
            "example": "Train Departed"
          },
          "nextScheduledEventStateCode": {
            "type": "string",
            "title": "nextScheduledEventStateCode",
            "description": "The state where the next scheduled event will occur.",
            "example": "AZ"
          },
          "nextScheduledEventStation333": {
            "type": "string",
            "title": "nextScheduledEventStation333",
            "description": "The station where the next scheduled event will occur.",
            "example": "WILJCT"
          },
          "nextScheduledEventTime": {
            "type": "string",
            "title": "nextScheduledEventTime",
            "description": "The estimated time the next scheduled event will occur.",
            "example": "08:33"
          },
          "originRailNetworkLocationName": {
            "type": "string",
            "title": "originRailNetworkLocationName",
            "description": "The origin station and state of the shipment.",
            "example": "ALLIANCE, TX"
          },
          "shipmentExceptionDescription": {
            "type": "string",
            "title": "shipmentExceptionDescription",
            "description": "A description of any exception that applies to the shipment\n",
            "example": "WILD DETECTOR/ WHL CONDITION"
          },
          "trainId": {
            "type": "string",
            "title": "trainId",
            "description": "The code that identifies a specific train and is used to locate cars, units, or shipments. Train IDs consist of four parts:\n\nType: Train type, based on the commodity being transported, or the speed the train needs to move. Valid values range from A to Z.\nSymbol: A combination of carrier interchange and the number of trains out that day.\nDay: The day of the month the train departed from origin location, in mm-dd format.\nSchedule ID: A value from A to Z.\n",
            "example": "HBARGAL125A"
          }
        },
        "additionalProperties": false
      },
      "vin_list": {
        "type": "array",
        "title": "vin_list",
        "items": {
          "type": "string",
          "minLength": 17,
          "maxLength": 17,
          "example": "2FMHK6DTXKBA27109"
        },
        "minItems": 1,
        "maxItems": 300,
        "example": [
          "2FMHK6DTXKBA27109",
          "1FMHK6DTXKBA27109"
        ]
      },
      "tripPlan": {
        "type": "object",
        "title": "Trip Plan",
        "description": "Travel itinerary for rail equipment.",
        "properties": {
          "jobStatus": {
            "type": "integer",
            "format": "int32",
            "title": "jobStatus",
            "minimum": 1,
            "maximum": 4,
            "example": 4
          },
          "jobStatusDescription": {
            "type": "string",
            "title": "jobStatusDescription",
            "example": "Job is complete"
          },
          "resultSet": {
            "type": "array",
            "title": "resultSet",
            "items": {
              "type": "object",
              "required": [
                "equipmentInitial",
                "equipmentNumber",
                "estimatedEventDatetimeIndicator",
                "eventDatetime",
                "eventDescription",
                "eventLocation",
                "sequenceNumber",
                "trainId"
              ],
              "properties": {
                "equipmentInitial": {
                  "type": "string",
                  "title": "Equipment Initial",
                  "description": "Equipment Initial is the prefix or alphabetic part of an equipment units identifying number.",
                  "example": "BNSF"
                },
                "equipmentNumber": {
                  "type": "string",
                  "title": "Equipment Number",
                  "description": "Equipment Number is the sequencing or serial part of an equipment units identifying number.",
                  "example": "12345"
                },
                "estimatedEventDatetimeIndicator": {
                  "type": "string",
                  "title": "Estimated Event DateTime Indicator",
                  "description": "Indicates if the Event DateTime is estimated or actual.",
                  "example": "Y"
                },
                "eventDatetime": {
                  "type": "string",
                  "title": "Event DateTime",
                  "description": "Date and Time when a given event was created. This represents the complete Date (YYYY-MM-DD), on the Gregorian calendar, along with a valid complete Time (HH:MM:SS:xx)",
                  "example": "2021-11-17 15.47.51"
                },
                "eventDescription": {
                  "type": "string",
                  "title": "Event Description",
                  "description": "Description for an Event Code used to define an event or activity occurring on the rail network.",
                  "example": "Train Departure"
                },
                "eventLocation": {
                  "type": "string",
                  "title": "Event Location Name",
                  "description": "The combined name of the City and State Code where the event will or has occurred.",
                  "example": "CLOVIS NM"
                },
                "sequenceNumber": {
                  "type": "number",
                  "format": "float",
                  "title": "Trip Plan Segment Sequence Number",
                  "description": "The sequence number applied to the processing (occurrence) of equipment through individual trip plan segments.",
                  "example": 110
                },
                "trainId": {
                  "type": "string",
                  "title": "Train ID",
                  "description": "The identification of an train.",
                  "example": "S MEMSCO 1 15"
                }
              },
              "additionalProperties": false,
              "nullable": false
            },
            "nullable": false
          },
          "rowCount": {
            "type": "string",
            "title": "rowCount",
            "example": "1"
          }
        },
        "additionalProperties": false,
        "nullable": false
      },
      "carloadV2": {
        "type": "object",
        "title": "carloadV2",
        "properties": {
          "careOfParty633": {
            "type": "string",
            "title": "careOfParty633",
            "description": "Name of a receiver of rail cars on behalf of the actual consignee (the  physical delivery point) which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "CAREOF1"
          },
          "careOfPartyFullName": {
            "type": "string",
            "title": "careOfPartyFullName",
            "description": "The full name of a  receiver of rail cars on behalf of the actual consignee (the  physical delivery point).",
            "example": "CARE OF 1"
          },
          "consignee633": {
            "type": "string",
            "title": "consignee633",
            "description": "Name of a Customer, acting as the Consignee (AKA Receiver), which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "CNSGNEE"
          },
          "consigneeFullName": {
            "type": "string",
            "title": "consigneeFullName",
            "description": "The full name of a customer that is filling the role of Consignee. A Consignee, also referred to as the \\\"Receiver\\\", is the company or individual receiving a shipment at a destination.",
            "example": "CONSIGNEE"
          },
          "destinationRailNetworkLocationName": {
            "type": "string",
            "title": "Destination Station State",
            "description": "The final BNSF operating station and state. This can be different than customer destination. See **rail_destination_station_state** the final rail station and state as stated on the waybill.  ",
            "example": "HALLOCK, MN"
          },
          "equipmentInitial": {
            "type": "string",
            "title": "Equipment Initial",
            "description": "The initials used in the equipment identification for the shipment.",
            "example": "BNSF"
          },
          "equipmentNumber": {
            "type": "string",
            "title": "Equipment Number",
            "description": "The numbers used in  the equipment identification for the shipment.",
            "example": "255314"
          },
          "equipmentLoadStatusCode": {
            "type": "string",
            "title": "Equipment Status Code",
            "description": "L or E, this code describes whether the equipment is loaded or empty",
            "enum": [
              "L",
              "E"
            ],
            "minLength": 1,
            "maxLength": 1,
            "example": "E"
          },
          "estimatedShipmentAvailabilityDate": {
            "type": "string",
            "title": "Estimated Availability Date",
            "description": "Estimated date that the shipment becomes available to the customer\n",
            "example": "11/05/2019"
          },
          "estimatedShipmentAvailabilityTime": {
            "type": "string",
            "title": "Estimated Availability Time",
            "description": "Estimated time that the shipment becomes available to the customer\n",
            "example": "12:09"
          },
          "finalDestinationRailNetworkLocationName": {
            "type": "string",
            "title": "finalDestinationRailNetworkLocationName",
            "description": "The final station and state as stated on the waybill.",
            "example": "DILWORTH, MN"
          },
          "finalScheduledEventDescription": {
            "type": "string",
            "title": "finalScheduledEventDescription",
            "description": "Description of the final scheduled event in the trip plan",
            "example": "Actual Placed"
          },
          "lastEventDate": {
            "type": "string",
            "title": "lastEventDate",
            "description": "Date of most recent event.",
            "example": "10/30/2019"
          },
          "lastEventDescription": {
            "type": "string",
            "title": "lastEventDescription",
            "description": "Description of most recent event\n",
            "example": "Train Departed"
          },
          "lastEventTime": {
            "type": "string",
            "title": "lastEventTime",
            "description": "Time of most recent event.",
            "example": "09:03"
          },
          "lastEventRailNetworkLocationName": {
            "type": "string",
            "title": "lastEventRailNetworkLocationName",
            "description": "The location of the most recently reported event. See Event Description.",
            "example": "WILJCT, AZ"
          },
          "lastReportingSCAC": {
            "type": "string",
            "title": "lastReportingSCAC",
            "description": "Carrier abbreviation reporting the most recent event.",
            "example": "BNSF"
          },
          "latitude": {
            "type": "number",
            "format": "float",
            "title": "Latitude",
            "description": "Last reported latitude of the shipment.",
            "example": 37.260433
          },
          "longitude": {
            "type": "number",
            "format": "float",
            "title": "Longitude",
            "description": "Last reported longitude of the shipment.",
            "example": -97.60999
          },
          "nextSCAC": {
            "type": "string",
            "title": "nextSCAC",
            "description": "The next carrier to move the shipment after BNSF."
          },
          "nextScheduledEventDate": {
            "type": "string",
            "title": "nextScheduledEventDate",
            "description": "The estimated date the next scheduled event will occur.",
            "example": "10/30/2019"
          },
          "nextScheduledEventDescription": {
            "type": "string",
            "title": "nextScheduledEventDescription",
            "description": "The next scheduled event to occur in the trip plan.",
            "example": "Train Departed"
          },
          "nextScheduledEventStateCode": {
            "type": "string",
            "title": "nextScheduledEventStateCode",
            "description": "The state where the next scheduled event will occur.",
            "example": "AZ"
          },
          "nextScheduledEventStation333": {
            "type": "string",
            "title": "nextScheduledEventStation333",
            "description": "The station where the next scheduled event will occur.",
            "example": "WINSLOW"
          },
          "nextScheduledEventTime": {
            "type": "string",
            "title": "nextScheduledEventTime",
            "description": "The estimated time the next scheduled event will occur.",
            "example": 709
          },
          "notifyParty633": {
            "type": "string",
            "title": "notifyParty633",
            "description": "Name of the party to be notified at the time a container or trailer is grounded from a train. Most notify parties are draymen. Value has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "NOTPRTY1"
          },
          "notifyPartyFullName": {
            "type": "string",
            "title": "notifyPartyFullName",
            "description": "Full name of the party to be notified at the time a container or trailer is grounded from a train. Most notify parties are draymen.",
            "example": "NOTIFY PARTY 1"
          },
          "originRailNetworkLocationName": {
            "type": "string",
            "title": "originRailNetworkLocationName",
            "description": "The origin station and state of the shipment.",
            "example": "BARSTOW, CA"
          },
          "shipmentExceptionDescription": {
            "type": "string",
            "title": "shipmentExceptionDescription",
            "description": "A description of any exception that applies to the shipment\n",
            "example": "WILD DETECTOR/ WHL CONDITION"
          },
          "shipper633": {
            "type": "string",
            "title": "shipper633",
            "description": "Name of a Customer, acting as the Shipper, which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
            "example": "SHPRABC"
          },
          "shipperFullName": {
            "type": "string",
            "title": "shipperFullName",
            "description": "Full name of a Customer, acting as the Shipper.",
            "example": "SHIPPER"
          },
          "stcc": {
            "type": "string",
            "title": "stcc",
            "description": "STCC (Standard Transportation Commodity Code) number identifying a Commodity.",
            "example": "9999"
          },
          "trainId": {
            "type": "string",
            "title": "trainId",
            "description": "The code that identifies a specific train and is used to locate cars, units, or shipments. Train IDs consist of four parts:\n\nType: Train type, based on the commodity being transported, or the speed the train needs to move. Valid values range from A to Z.\nSymbol: A combination of carrier interchange and the number of trains out that day.\nDay: The day of the month the train departed from origin location, in mm-dd format.\nSchedule ID: A value from A to Z.\n",
            "example": "HBARGAL125A"
          },
          "waybillNumber": {
            "type": "string",
            "title": "waybillNumber",
            "description": "Waybill number assigned to the shipment.",
            "example": "123456"
          }
        },
        "additionalProperties": false
      },
      "CarsResult": {
        "type": "object",
        "title": "Cars Result",
        "properties": {
          "jobStatus": {
            "type": "integer",
            "format": "int32",
            "title": "jobStatus",
            "minimum": 1,
            "maximum": 4,
            "example": 4
          },
          "jobStatusDescription": {
            "type": "string",
            "title": "jobStatusDescription",
            "description": "* 1: Job in queue\n* 2: Job is running\n* 3: The job has data available\n* 4: The job is complete",
            "example": "Job is complete"
          },
          "resultSet": {
            "type": "array",
            "title": "resultSet",
            "description": "Estimated date and time that the shipment becomes available to the customer\n",
            "items": {
              "$ref": "#/components/schemas/carloadV2"
            },
            "nullable": false
          },
          "rowCount": {
            "type": "integer",
            "format": "int32",
            "title": "rowCount",
            "example": 1
          }
        },
        "additionalProperties": false
      },
      "vinDetails": {
        "type": "object",
        "title": "Vin Details",
        "description": "Vin Details",
        "properties": {
          "jobStatus": {
            "type": "integer",
            "format": "int32",
            "title": "jobStatus",
            "minimum": 1,
            "maximum": 4,
            "example": 4
          },
          "jobStatusDescription": {
            "type": "string",
            "title": "jobStatusDescription",
            "example": "Job is complete"
          },
          "resultSet": {
            "type": "array",
            "title": "resultSet",
            "items": {
              "type": "object",
              "properties": {
                "asnCreatedIndicator": {
                  "type": "string",
                  "title": "ASN Created Indicator",
                  "description": "Indicates whether an ASN (Advanced Shipping Notice) was created for a shipment or not.",
                  "example": "Y"
                },
                "autorackDeckPositionNumber": {
                  "type": "string",
                  "title": "Autorack Deck Position Number",
                  "description": "The position where a vehicle is placed in the autorack deck.",
                  "example": "2"
                },
                "autorackOnSpotIndicator": {
                  "type": "string",
                  "title": "Autorack On Spot Indicator",
                  "description": "Indicates whether the autorack is on spot or actually placed for unloading.",
                  "example": "Y"
                },
                "autorackTypeDescription": {
                  "type": "string",
                  "title": "Autorack Type Description",
                  "description": "Type of autorack.",
                  "example": "Uni-level"
                },
                "billOfLadingId": {
                  "type": "string",
                  "title": "Bill Of Lading Id",
                  "description": "Unique identifier for an instance of an internal or external customer request for the shipment of lading via rail.",
                  "example": "100200AB"
                },
                "carInitial": {
                  "type": "string",
                  "title": "Car Initial",
                  "description": "Initials, also known as reporting marks, assigned to a piece of railroad equipment by the equipment's owner. Value is used with Car Number to uniquely identify a piece of equipment.",
                  "example": "BNSF"
                },
                "carNumber": {
                  "type": "string",
                  "title": "Car Number",
                  "description": "Number assigned to a piece of on rail railroad equipment by the equipment's owner. Value is used with Car Initials to uniquely identify a piece of equipment.",
                  "example": "123456"
                },
                "consignee633": {
                  "type": "string",
                  "title": "Consignee 633",
                  "description": "Name of a Customer, acting as the Consignee (AKA Receiver), which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
                  "example": "AMERHONMOTOR"
                },
                "customerNotifiedDatetime": {
                  "type": "string",
                  "title": "Customer Notified DateTime",
                  "description": "Date and time a BNSF customer was notified about their shipment.",
                  "example": "2023-01-10 10:55"
                },
                "destinationWaybillLocationName": {
                  "type": "string",
                  "title": "Destination Waybill Location Name",
                  "description": "Standard abbreviation of the city and the state code of the location that is defined as the destination of a shipment in the Waybill.",
                  "example": "ALLIANCE, TX"
                },
                "estimatedShipmentAvailabilityDatetime": {
                  "type": "string",
                  "title": "Estimated Shipment Availability DateTime",
                  "description": "The date and time when a shipment will be available for the consignee to pick it up.",
                  "example": "2023-01-10 10:55"
                },
                "haulawayCompanyName": {
                  "type": "string",
                  "title": "Haulaway Company Name",
                  "description": "The name of the company to which a haulaway belongs to.",
                  "example": "Sierra Mountain Express Inc."
                },
                "haulawayScac": {
                  "type": "string",
                  "title": "Haulaway SCAC",
                  "description": "The SCAC (Standard Carrier Alpha Code) of a haulaway.",
                  "example": "SUME"
                },
                "inventoryYardCheckDatetime": {
                  "type": "string",
                  "title": "Inventory Yard Check DateTime",
                  "description": "Date and time when the yard check to maintain the inventory of which shipments \nare in the hub and where took place.",
                  "example": "2023-01-10 10:55"
                },
                "ladingRampRailNetworkLocationName": {
                  "type": "string",
                  "title": "Lading Ramp Rail Network Location Name",
                  "description": "Standard abbreviation of the city and the state code of the rail network location where a lading was ramped.",
                  "example": "SANBERNAR, CA"
                },
                "lastEventDatetime": {
                  "type": "string",
                  "title": "Last Event DateTime",
                  "description": "Date and time of the last event recorded.",
                  "example": "2023-01-10"
                },
                "lastEventDescription": {
                  "type": "string",
                  "title": "Last Event Description",
                  "description": "Description of the last event recorded.",
                  "example": "Train Departure"
                },
                "lastEventRailNetworkLocationName": {
                  "type": "string",
                  "title": "Last Event Rail Network Location Name",
                  "description": "Standard abbreviation of the city and the state code of the rail network location where the last reported event occurred.",
                  "example": "SANBERNAR, CA"
                },
                "latitude ": {
                  "type": "string",
                  "title": "Latitude ",
                  "description": "Last reported latitude of the shipment.",
                  "example": "37.260433"
                },
                "longitude": {
                  "type": "string",
                  "title": "Longitude",
                  "description": "Last reported longitude of the shipment.",
                  "example": "-97.60999"
                },
                "newVehicleIndicator": {
                  "type": "string",
                  "title": "New Vehicle Indicator",
                  "description": "Indicates whether the vehicle is new or not.",
                  "example": "Y"
                },
                "nextScheduledEventDate": {
                  "type": "string",
                  "title": "Next Scheduled Event Date",
                  "description": "The date when the next scheduled event will take place.",
                  "example": "2023-01-10"
                },
                "nextScheduledEventDescription": {
                  "type": "string",
                  "title": "Next Scheduled Event Description",
                  "description": "Description of the next scheduled event.",
                  "example": "Train Arrival"
                },
                "nextScheduledEventStation333": {
                  "type": "string",
                  "title": "Next Scheduled Event Station 333",
                  "description": "Name of the city where the next scheduled event will occur. This name has been abbreviated from the city's full name through the use of a standardized programmatic algorithm.",
                  "example": "BELEN"
                },
                "nextScheduledEventStationStateCode": {
                  "type": "string",
                  "title": "Next Scheduled Event Station State Code",
                  "description": "The state code for a station where the next scheduled event will occur.",
                  "example": "NM"
                },
                "nextScheduledEventTime": {
                  "type": "string",
                  "title": "Next Scheduled Event Time",
                  "description": "The date when the next scheduled event will take place.",
                  "example": "14:25"
                },
                "originWaybillLocationName": {
                  "type": "string",
                  "title": "Origin Waybill Location Name",
                  "description": "Standard abbreviation of the city and the state code of the location that is defined as the origin of a shipment in the Waybill.",
                  "example": "LOSANGELE, CA"
                },
                "outgateDatetime": {
                  "type": "string",
                  "title": "Outgate DateTime",
                  "description": "The date when the outgate took place.",
                  "example": "2023-01-10 10:55"
                },
                "parkingLotZoneBayCode": {
                  "type": "string",
                  "title": "Parking Lot Zone Bay Code",
                  "description": "Code of the bay used along with the zone to locate the spot in the parking lot where shipments are unloaded from the railcar.",
                  "example": "725"
                },
                "parkingLotZoneCode": {
                  "type": "string",
                  "title": "Parking Lot Zone Code",
                  "description": "Code to locate the zone in a parking lot where shipments are unloaded from the railcar.",
                  "example": "LOTD"
                },
                "shipper633": {
                  "type": "string",
                  "title": "Shipper 633",
                  "description": "Name of a Customer, acting as the Shipper, which has been abbreviated from the Customer's full Legal Name through the use of a standardized programmatic process.",
                  "example": "ACMECUST"
                },
                "stcc": {
                  "type": "string",
                  "title": "STCC",
                  "description": "STCC (Standard Transportation Commodity Code) number identifying a Commodity.",
                  "example": "2821142"
                },
                "trainId": {
                  "type": "string",
                  "title": "Train Id",
                  "description": "The identification of an train. (The composite of the type, symbol, section, day, and priority.)",
                  "example": "HBARGAL125A"
                },
                "vehicleBodyClassName": {
                  "type": "string",
                  "title": "Vehicle Body Class Name",
                  "description": "The body style of a vehicle that informs its shape, number of doors, and mechanical setup.",
[...]
